@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap');
.logo{
    display: block;
    margin: auto;
    width: 100px;
    height:100px;
}
body {
  height: 100vh;
  background-color: rgb(
    158,
    160,
    180
  ); /* For browsers that do not support gradients */
  background-image: radial-gradient(
    rgb(214, 186, 214),
    rgb(158, 160, 180),
    rgb(151, 148, 169)
  );
  padding: 0px;
  margin: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

h1 {
  margin-top: 12px;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

h2{
    margin-top: 12px;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: black;
}

.container {
  width: 80%;
  margin: auto;
  height: 40vh;
  padding: 33px;
  overflow-y: auto;
  margin-bottom: 23px;
  border-radius: 50px;

  border: 15px solid #0075f9;
  background-image: url(/images/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.send {
  margin-top: -100px;
  width: 100%;
}

.message {
  
  width: 24%;
  padding: 10px;
  margin: 17px 12px;
  
  border-radius: 10px;
}

.left {
    background-color: #077e1b;
    border: .2px solid #077e1b;
    color:white;
  float: left;
  clear: both;
}

.right {
    background-color: #218aff;
    border: .2px solid #218aff;
    color:white;
  float: right;
  clear: both;
}

#send-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-top: 120px;
  margin-left: 10%;
  gap:10px;
  
  text-align: center;
}

#messageInp {
  
  max-width:80%;
  width:800px;
  height:24px;
  border-radius:6px;
  border: 2px solid #1174e5;
  background-color:#ffffff;
  color: black;

  
  
}
.btn {
  border-radius: 6px;
  border: 2px solid #1174e5;
  background-color:#1174e5;
  width:100px;
  height:32px;
  
}